@font-face {
	font-family: 'RussoOne';
    src: url(../Assets/fonts/RussoOne/RussoOneRegular.ttf);
}

@font-face {
	font-family: 'Quantico';
    src: url(../Assets/fonts/Quantico/Quantico-Regular.ttf);
}


body 
{
	margin:0;
    padding:0;
	background-color: #3A86C7;
	font-family: 'Quantico';
	font-family: 'RussoOne';
	overflow: hidden;
}

#wrap{
	height:100vh;
	width:100vh;
	min-height: 100vh;
    max-width: 1070;
	margin: 0 auto;
	padding: 0;
	position: relative;
}

canvas{
	height:100vh;
	width:100vh;
	max-width: 1070;
	min-height: 100vh;
	position: absolute;
}

#menuHover{
	z-index:7;
}

#tutoral{
	z-index: 0;
	display: none;
}
#tutorMask{
	z-index: 1;
	/*background-color: rgba(205, 130, 65, 0.6);*/
	display: none;
}
#tutorMsg{
	z-index: 2;
}

#start{
	z-index:6;
	background-image:url(../Assets/images/bg_startScreens.png);
	background-size: 100% 100%;
}
#help{
	z-index:10;
	background-image:url(../Assets/images/help_Instruction.png);
	background-size: 100% 100%;
	display: none;
}

#frontCloud{
	z-index: 5;
}

#frontCloudNight{
	z-index: 5;
}

#sunMoon{
	z-index: 4;
}

#nightView{
	z-index: 3;
	/*
	background-image:url(../Assets/images/img_nightView.png);
	background-size: 100% 100%;
	*/
	opacity: 0;
}

#dayView{
	z-index: 3;
	background-image:url(../Assets/images/img_dayView.png);
	background-size: 100% 100%;
	opacity: 1.0;
}

#uiFrame{
	z-index:3;
	background-image:url(../Assets/images/img_uiframe.png);
	background-size: 100% 100%;
}

#scoresTxt{
	z-index: 4;
}

#hud{
	z-index:4;
}

#game{
	z-index:0;
	display: none;
	background-color: darkgrey;
}

#gameOver{
	z-index:10;
	background-color: rgba(0, 0, 0,0.8);
	display: none;
}

#gameOverMenu{
	z-index:11;
	display: none;
}